@model IEnumerable<BonusPaymentSystem.Core.Model.Campaing>

@{
    ViewData["Title"] = "Campañas";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@ViewData["Title"]</h4>
        <p class="card-description">
            <a asp-action="Create" class="btn btn-primary">Crear Nueva Campaña</a>
        </p>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Monto
                        </th>
                        <th>
                            Cuenta a Debitar Incentivo
                        </th>
                        <th>
                            Margen de Beneficio
                        </th>
                        <th>
                            Fecha De Inicio
                        </th>
                        <th>
                            Fecha Fin
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SavingAccountSource)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProfitRate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EnddDate)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Ver", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Assignar", "GetAllSaller", new { campaingId = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
