@model BonusPaymentSystem.Core.Model.ApplicationUser

@{
    ViewData["Title"] = "Usuarios";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <p class="card-title mb-0">@ViewData["Title"] </p>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped table-borderless">
                            <tbody>
                                <tr>
                                    <td> @Html.DisplayNameFor(model => model.UserName)</td>
                                    <td class="font-weight-bold">@Html.DisplayFor(model => model.UserName)</td>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayNameFor(model => model.EmployeeCode)</td>
                                    <td class="font-weight-bold">@Html.DisplayFor(model => model.EmployeeCode)</td>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayNameFor(model => model.FirstName)</td>
                                    <td class="font-weight-bold">@Html.DisplayFor(model => model.FirstName)</td>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayNameFor(model => model.LastName)</td>
                                    <td class="font-weight-bold">@Html.DisplayFor(model => model.LastName)</td>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayNameFor(model => model.BankAccount)</td>
                                    <td class="font-weight-bold">@Html.DisplayFor(model => model.BankAccount)</td>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayNameFor(model => model.PhoneNumber)</td>
                                    <td class="font-weight-bold">@Html.DisplayFor(model => model.PhoneNumber)</td>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayNameFor(model => model.Status)</td>
                                    <td class="font-weight-bold">
                                        @if (Model.Status == 1)
                                        {
                                            <span>Activo </span>
                                        }
                                        else
                                        {
                                            <span>Inactivo </span>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.UserName }) |
                    <a asp-action="Index" asp-controller="User">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>